#diana-view {
    --primary-color: #2D3047;
    --secondary-color: #E0A458;
    --third-color: #419D78;
    --fourth-color: #FFDBB5;
    --fifth-color: #7A9CC6;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    padding: 0px;
    margin: 0px;
}

#diana-view .primary-bg {
    background-color: var(--primary-color);
}

#diana-view .secondary-bg {
    background-color: var(--secondary-color);
}

#diana-view .third-bg {
    background-color: var(--third-color);
}

#diana-view .fourth-bg {
    background-color: var(--fourth-color);
}

#diana-view .fifth-bg {
    background-color: var(--fifth-color);
}

#diana-view .btn.secondary-bg:hover, #diana-view .btn.third-bg:hover {
    animation: darken 0.5s forwards;
}

@keyframes darken {
    to {
        filter: brightness(0.8);
    }
}

#diana-view .btn {
    border: none;
}

/* Stars */

.star-container {
    color: var(--secondary-color);
    min-width: 100px;
}

/* MyGallery */

#diana-view .gallery {
    text-align: center;
}

#diana-view .gallery .gallery-preview-image {
    height: 35px;
    margin: 5px;
    opacity: 0.5;
}

#diana-view .gallery .carousel-inner {
    padding-top: 15px;
    padding-bottom: 15px;
}

#diana-view .gallery .gallery-preview-image:hover {
    outline: none;
    border-color: var(--third-color);
    box-shadow: 0 0 10px var(--third-color);
    opacity: 1;
}

#diana-view .gallery .gallery-preview-image.active {
    outline: none;
    border-color: var(--third-color);
    box-shadow: 0 0 5px var(--third-color);
    opacity: 1;
}

#diana-view .gallery .gallery-image {
    box-shadow: 5px 10px 10px var(--primary-color);
}

#diana-view .carousel-control-next, #diana-view .carousel-control-prev {
    color: var(--third-color);
    font-size: 25px;
}

/* MyWork */

#diana-view .work-company-icon {
    height: 40px;
    width: 40px;
    border: 3px solid var(--fourth-color);
}

#diana-view .work-title {
    font-weight: bold;
}

#diana-view .work-company a {
    font-weight: bolder;
    color: var(--third-color);
}

#diana-view .work-duration {
    font-size: smaller;
}

/* MySkills */

#my-skills .skill-badge {
    font-size: 100%;
}

/* Responsive Screeen Size */

@media (max-width: 750px) {
    #diana-view .gallery .gallery-image {
        height: 250px;
    }
}

@media (min-width: 750px) {
    #diana-view .gallery .gallery-image-container {
        width: 350px;
        height: 500px;
    }
    #diana-view .gallery .gallery-image {
        width: inherit;
    }
}