/* Starry Night */

#starry-night {
    position: fixed;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    --lightest-color: #2b3b41;
    --light-color: #13132d;
    --dark-color: #0a001e;
    --darkest-color: #070016;
    background-image: linear-gradient( var(--darkest-color), var(--dark-color), var(--light-color), var(--lightest-color));
}

#starry-night.twinkle .star.twinkle1 {
    animation: twinkle-star1 linear 1s infinite;
}

#starry-night.twinkle .star.twinkle2 {
    animation: twinkle-star2 linear 1s infinite;
}

@keyframes twinkle-star1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes twinkle-star2 {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.5);
    }
}