.container.view-root {
    width: 100%;
    margin: 0px auto;
    padding: 0;
}

.h-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 1px;
    width: 100%;
    border-top: 1px solid gray;
}

.pointer {
    cursor: pointer;
}

.display-none {
    display: none;
}

/* Responsive Display */

@media (max-width: 750px) {
    .laptop-only {
        display: none !important;
    }
}

@media (min-width: 750px) {
    .mobile-only {
        display: none !important;
    }
}

/* Fade-In / Fade-Out */

.fade-out {
    opacity: 1;
    max-height: 999px;
    max-width: 999px;
    transition: opacity 1s;
}

.fade-out.hide {
    margin: 0;
    padding: 0;
    opacity: 0.01;
    max-height: 0px;
    max-width: 0px;
    transition: opacity 1s, max-height 0s 1s, max-width 0s 1s, margin 0s 1s, padding 0s 1s;
}

/* Loading Screen */

#loading-screen {
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 10;
}

@media (prefers-reduced-motion: no-preference) {
    #loading-star {
        position: absolute;
        top: 50%;
        right: 50%;
        font-size: 25px;
        z-index: 10;
        animation: loading-star-spin infinite 5s linear;
    }
}

@keyframes loading-star-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Sticky Buttons */

#toolbar {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 10;
}

#toolbar .btn {
    border-radius: 100%;
    margin: 0 2px;
}